
body {
   font-family: Open Sans, PT Sans, Segoe UI, "myriad pro", tahoma, verdana, arial, sans-serif;
   margin: 0; padding: 0;
}

.moot {
   font-size: 15px;
}

.m-header, .m-subnavi {
  background: #A8BCCF;
}

/** Bold/italics tip **/
.m-help-italics, .m-help-bolded {
   font-size: 0 !important;
}
.m-help-italics span, .m-help-bolded span {
   font-size: 14px;
}
.m-help-italics span:before, .m-help-italics span:after {
   content: "*";
   font-weight: normal;
   font-style: normal;
}
.m-help-bolded span:before, .m-help-bolded span:after {
   content: "**";
   font-weight: normal;
   font-style: normal;
}

/** Latex tip **/
.m-help-code {
   margin-bottom: 0.6em !important;
}
.m-help-code:after {
   content: "\\( LaTeX en línea \\)";
   border: solid #ddd;
   border-width: 1px 0 0;
   padding-top: 0.6em;
   margin-top: 0.6em;
   display: block;
}
.m-help-post:before {
   content: "$$ Ecuación en LaTeX $$";
   border: solid #ddd;
   border-width: 0 0 1px;
   padding-bottom: 0.6em;
   margin-bottom: 0.6em;
   margin-top: 0;
   display: block;
}

/****/
.m-face {
   border-radius: 0;
}
.m-logo {
   display: none;
}


.m-links p a:not(.m-selected):hover {
   text-decoration: underline;
   background: transparent;
}
.m-h3 p {
   display: inline-block;
   font-size: inherit;
   font-weight: 300;
}
.m-h3 p a {
   font-weight: inherit;
}
